####
#;
#; Date   : {{ ansible_date_time.weekday[:3] }} {{ ansible_date_time.month }} {{ ansible_date_time.day }} {{ ansible_date_time.time }} {{ ansible_date_time.tz }} {{ ansible_date_time.year }}
#; File   : {{ dstn_web }}.domain
#; Description: {{ dstn_web }} domains.
#;
####

.{{ dstn_web }}.com
